@using System.Globalization
@using Aura.Web.Models

@model AnimalsViewModel

@{
    ViewBag.TabId = 4;
    ViewBag.SubTabId = 5;
    ViewBag.Title = "Итог - Животного мира";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr class="text-center">
            <th>Район</th>
            <th>Индекс величины ресурсов территории</th>
            <th>Индекс величины ресурсов озер</th>
            <th>Доля ресурсов озёр в суммарном запасе</th>
            <th>Коэффициент соотношения ресурсов</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr rowid="@item.Id">
                <td>@item.Region</td>
                <td>@item.AreaIndex.ToString("N", CultureInfo.CurrentCulture)</td>
                <td>@item.ResourcesIndex.ToString("N", CultureInfo.CurrentCulture)</td>
                <td>@item.ResourcesShare.ToString("N", CultureInfo.CurrentCulture)</td>
                <td>@item.ResourcesRatio.ToString("N", CultureInfo.CurrentCulture)</td>
            </tr>
        }
    </tbody>
</table>