@model ResultsViewModel

@{
    ViewBag.TabId = 4;
    ViewBag.SubTabId = 4;
    ViewBag.Title = "Итог - Ресурсы растительного мира";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="table-view">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="text-center">
                <th>Район</th>
                <th>Запасы ПХГ</th>
                <th>Запасы озера</th>
                <th>Доля ресурсов озёр в суммарном запасе, %</th>
                <th>Коэффициент соотношения ресурсов</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr rowid="@item.RegionId">
                    <td>@item.RegionName</td>
                    <td>@(double.IsNaN(item.ZapasyPhg) ? string.Empty : item.ZapasyPhg.ToString("F3", CultureInfo.CurrentCulture)) </td>
                    <td>@(double.IsNaN(item.ZapasyOzera) ? string.Empty : item.ZapasyOzera.ToString("F3", CultureInfo.CurrentCulture))</td>
                    <td>@(double.IsNaN(item.Percent) ? string.Empty : item.Percent.ToString("P3", CultureInfo.CurrentCulture))</td>
                    <td>@(double.IsNaN(item.KoefBalansa) ? string.Empty : item.KoefBalansa.ToString("F3", CultureInfo.CurrentCulture))</td>
                </tr>
            }
        </tbody>
    </table>
</div>
