@model ResultsViewModel

@{
    ViewBag.TabId = 4;
    ViewBag.SubTabId = 2;
    ViewBag.Title = "Итог - Водные ресурсы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="table-view">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="text-center">
                <th>Район</th>
                <th>Доля ресурсов территории в суммарном запасе, %</th>
                <th>Индекс величины использования озёр в хозяйственной деятельности</th>
                <th>Доля ресурсов озёр в суммарном запасе, %</th>
                <th>Коэффициент соотношения ресурсов</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr rowid="@item.RegionId">
                    <td>@item.RegionName</td>
                    <td>@(double.IsNaN(item.DolaResursovTerritoriiVSumarnomZapasePercent) ? string.Empty : item.DolaResursovTerritoriiVSumarnomZapasePercent.ToString("P3", CultureInfo.CurrentCulture)) </td>
                    <td>@(double.IsNaN(item.IndexVelichinyIspolzovaniyaOzerVHozDeatelnosti) ? string.Empty : item.IndexVelichinyIspolzovaniyaOzerVHozDeatelnosti.ToString("F3", CultureInfo.CurrentCulture))</td>
                    <td>@(double.IsNaN(item.DolaResursovOzerVSumarnomZapasePercent) ? string.Empty : item.DolaResursovOzerVSumarnomZapasePercent.ToString("P3", CultureInfo.CurrentCulture))</td>
                    <td>@(double.IsNaN(item.KoefSootnosheniaResursov) ? string.Empty : item.KoefSootnosheniaResursov.ToString("F3", CultureInfo.CurrentCulture))</td>
                </tr>
            }
        </tbody>
    </table>
</div>
