@{
    ViewBag.Title = "Методика расчета";
    ViewBag.TabId = 8;
    ViewBag.SubTabId = 1;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="metodology-view">
    <div class="row">
        <div class="span12">
            <h1 class="text-center">Методика оценки</h1>
            <p>Озера рассматриваются как составная часть интегральных озерных геосистем, включающих элементы природных аквальных (озерных) и территориальных комплексов, целостность которых определена прямыми и обратными связями, в том числе связанными с хозяйственным использованием и управлением такими системами. Данный подход определяет выбор в качестве операционных территориальных единиц оценки ПРП озерных геосистем административно-территориальных единиц районного уровня, что позволяет широко применять оперативно обновляемую статистическую информацию об особенностях хозяйственной деятельности и состоянии окружающей среды, разрабатывать, на основе выполненной геоэкологической оценки, рекомендации в форме, наиболее приемлемой для лиц, принимающих административные управленческие решения, в том числе и в области устойчивого хозяйственного использования и охраны озерных бассейнов. </p>
            <p>Под природно-ресурсным потенциалом понимается совокупность природных ресурсов, которые могут быть использованы в современной хозяйственной деятельности с учетом принципов их рационального природопользования и сохранения качества среды жизнедеятельности человека. </p>
            <p>Природно-ресурсный потенциал озерных геосистем рассматривается как комплексный природно-ресурсный потенциал озер, а также прилегающих территорий в границах административных районов. </p>
            <p>В базовой структурно-логической модели геоэкологической оценки природно-ресурсного потенциала озер как части комплексного природно-ресурсного потенциала озерных геосистем, структурными блоками выступают: </p>
            <ul>
                <li>величина и структура природно-ресурсного потенциала озер и прилегающих территорий в границах озерной геосистемы;</li>
                <li>оценка уровня реализации и комплексности использования природно-ресурсного потенциала озер в хозяйственной деятельности;</li>
                <li>оценка природных ресурсов, как необходимой основы для жизнеобеспечения человека – его потребностей в водоснабжении, питании, лечении, оздоровлении, отдыхе;</li>
                <li>оценка природных ресурсов как компонентов природных геосистем – основы их биологического и ландшафтного разнообразия, экологических функций в геосистемах.</li>
            </ul>


            <div class="image-container">
                <img width="646" height="358" src="@Url.Content("~/Content/images/home/image002.png")" alt="Базовая структурно-логическая модель геоэкологической оценки природно-ресурсного потенциала озерной геосистемы" />

                <p><b>Рисунок 1.1</b> - Базовая структурно-логическая модель геоэкологической оценки природно-ресурсного потенциала озерной геосистемы</p>
            </div>
            <p>Алгоритм геоэкологической оценки ПРП озерной геосистемы включает три основных этапа, содержание которых представлено на рисунке 1.2. </p>
            <p>На этапе разработки методики осуществляется анализ методологических подходов к геоэкологической оценке природно-ресурсного потенциала, в том числе озер и прилегающих территорий, а также озерных геосистем как целостных образований, теоретически обосновывается концептуальная модель геоэкологической оценки природно-ресурсного потенциала озерной геосистемы. Далее определяется структура основных видов ПРП – минеральных ресурсов, территориальных, водных, биологических. Определяются методические приемы учета потенциалов составных частей – озер и прилегающих территорий. На основе выявленной структуры выполняется обоснование частных и комплексных показателей оценки (таблица 1.1). </p>
            <p class="text-center"><span><span>Таблица 1.1 - </span><span>Структура показателей геоэкологической оценки природно-ресурсного потенциала озерной геосистемы</span> </span></p>
            <table class="table table-bordered table-condensed">
                <tr>
                    <td>Природно-ресурсный потенциал территории </td>
                    <td>Природно-ресурсный потенциал озер </td>
                    <td>Хозяйственное использование природно-ресурсного потенциала озер </td>
                </tr>
                <tr>
                    <td>
                        Минеральные ресурсы:
                        <br />
                        Балансовые запасы доломита, тыс.т
                        <br />
                        Балансовые запасы глинистых пород, тыс.м&sup3;
                        <br />
                        Балансовые запасы песчано-гравийно-валунного материала, тыс.м&sup3;
                        <br />
                        Балансовые запасы песка, тыс.м&sup3;
                        <br />
                        Балансовые запасы торфа, тыс.т
                        <br />
                        Водные ресурсы:
                        <p><span>Объем речного стока, млн л.</span> </p>
                        <p><span>Балансовые запасы пресных подземных вод, тыс.м&sup3;/сут.</span> </p>
                        <p><i><span>Территориальные ресурсы:</span> </i></p>
                        <p><span>Площадь земель, га</span> </p>
                        <p><i><span>Биологические ресурсы (растительного мира):</span> </i></p>
                        <p><span>Общий запас древесины, тыс.м&sup3;</span> </p>
                        <p><span>Эксплуатационный запас лекарственных растений, т</span> </p>
                        <p><span>Эксплуатационный запас пищевых растений, т</span> </p>
                        <p><span>Эксплуатационный запас грибов, т</span> </p>
                        <p><i><span>Биологические ресурсы (животного мира):</span> </i></p>
                        <p><span>Численность диких животных, особей</span> </p>
                        <p><span>- копытных (лось, олень, косуля, кабан)</span> </p>
                        <p><span>- пушных (заяц-беляк, заяц-русак, куница, лисица, ондатра, норка, бобр, волк, барсук, выдра, енотовидная собака, рысь, белка)</span> </p>
                        <p><span>Численность диких птиц (глухарь, тетерев, рябчик, серая куропатка, утки), особей</span> </p>
                    </td>
                    <td>
                        <p><i><span>Минеральные<span>  </span>ресурсы:</span> </i></p>
                        <p><span>Разведанные запасы озерных сапропелей, тыс.м&sup3;</span> </p>
                        <p><i><span>Водные ресурсы:</span> </i></p>
                        <p><span>Объем воды в озерах, млн м&sup3;</span> </p>
                        <p><i><span>Территориальные ресурсы:</span> </i></p>
                        <p><span>Площадь озер, га</span> </p>
                        <p><i><span>Биологические ресурсы (растительного мира):</span> </i></p>
                        <p><span>Промысловый запас макрофитов, т</span> </p>
                        <p><span>Сезонная биомасса фитопланктона, т</span> </p>
                        <p><i><span>Биологические ресурсы (животного мира):</span> </i></p>
                        <p><span>Сезонная биомасса зоопланктона, т</span> </p>
                        <p><span>Сезонная биомасса бентоса, т</span> </p>
                        <p><span>Промысловый запас рыбы, ц</span> </p>

                    </td>
                    <td>
                        <p><i><span>Добыча ресурсов: </span></i></p>
                        <p><span>Добыча сапропелей, </span><span>тыс.м&sup3;/год</span> </p>
                        <p><span>Заготовка макрофитов, кг/год</span> </p>
                        <p><span>Заготовка фитопланктона, кг/год</span> </p>
                        <p><span>Заготовка зоопланктона, кг/год</span> </p>
                        <p><span>Заготовка зообентоса, кг/год<i> Промышленно-производственное:</i> </span></p>
                        <p><span>Объем использованной на производственные нужды воды, </span><span>тыс.м&sup3;/год</span> </p>
                        <p><i><span>Сельскохозяйственное: </span></i></p>
                        <p><span>Объем использованной на сельскохозяйственные нужды воды, </span><span>тыс.м&sup3;/год</span> </p>
                        <p><i><span>Хозяйственно-бытовое:</span> </i></p>
                        <p><span>Объем использованной на хозяйственно-питьевые нужды воды, </span><span>тыс.м&sup3;/год</span> </p>
                        <p><i><span>Рыбохозяйственное:</span> </i></p>
                        <p><span>Объем использованной на прудовое рыбное хозяйство воды, </span><span>тыс.м&sup3;/год</span> </p>
                        <p><span>Промысловый вылов рыбы, ц/год</span> </p>
                        <p><i><span>Рекреационное и лечебно-оздоровительное:</span> </i></p>
                        <p><span>Вместимость рекреационных и санаторно-курортных объектов, расположенных на берегах озер, чел.</span> </p>
                        <p><i><span>Природоохранное:</span> </i></p>
                        <p><span>Площадь ООПТ, ядром охраны в которых являются озера, га</span> </p>
                    </td>
                </tr>
            </table>
            <p>Территориальной единицей оценки является территория административного района. Для каждого вида ресурса ПРП определяется величина ресурса, в том числе и та, которая приходится на его запасы в озерах. Для оценки величины ПРП озерных геосистем применялся метод сравнения величины ресурсов геосистемы со среднерегиональным значением. Далее частному показателю присваивался индекс (I). Расчет индексов производился по формуле (1.1): </p>
            <div class="image-container">
                <img width="150" height="88" src="@Url.Content("~/Content/images/home/image003.png")" />
                <p>где Ii – индекс величины i-го ресурса, xi – показатель величины запасов i-го ресурса, n – количество показателей (районов)</p>
            </div>

            <p><span>Расчет интегральных индексов (Ip) запасов ресурсов производился по формуле (1.2):</span> </p>
            <div class="image-container">
                <img width="142" height="80" src="@Url.Content("~/Content/images/home/image004.png")" />

                <p>где Ip – индекс величины р-го вида ресурса, Ii – индекс величины i-го ресурса, n – количество показателей (ресурсов) </p>
            </div>

            <div class="image-container">
                <img width="463" height="598" src="@Url.Content("~/Content/images/home/image005.png")" />
                <p><b>Рисунок 1.2</b> - Организационные этапы геоэкологической оценки природно-ресурсного потенциала озерной геосистемы</p>
            </div>


            <p><span>Для сопоставления между собой озерных геосистем и выявления особенностей пространственного размещения ПРП озер, помимо абсолютных значений ПРП, рассчитываются коэффициенты Кpil, Кpit, определяющие удельные величины ресурса (в %), по формулам (1.3), (1.4), соотношения (сбалансированности) ресурсов (1.5)</span> </p>
            <div class="image-container">
                <img width="162" height="73" src="@Url.Content("~/Content/images/home/image006.png")" />
                <p>где Кpil – коэффициент величины i-го вида ресурса озер, Ipl – запасы i-го вида ресурса в озерах, Ipj – запасы i-го вида ресурса в озерной геосистеме. </p>
            </div>

            <div class="image-container">
                <img width="148" height="70" src="@Url.Content("~/Content/images/home/image007.png")" />
                <p>где Кpit – коэффициент величины i-го вида ресурса территории, Ipt – запасы i-го вида ресурса на территории, Ipj -- запасы i-го вида ресурса в озерной геосистеме. </p>
            </div>

            <div>

                <img width="151" height="71" src="@Url.Content("~/Content/images/home/image008.png")" />

                <p>где Кс – коэффициент соотношения (сбалансированности) ресурсов, Кpil – коэффициент величины i-го вида ресурса озер, Кpit – коэффициент величины i-го вида ресурса территории. </p>
            </div>
            <p><span>Уровень реализации ПРП в хозяйственной деятельности определяется по аналогии с оценкой величины ПРП. Для этого рассчитывается коэффициент <span>Кpil</span>, отражающий удельную величину использования ресурса (в %), по формуле (1.6)</span> </p>
            <p>
                <span>
                    <img width="170" height="72" src="@Url.Content("~/Content/images/home/image009.png")" />
                </span>
            </p>
            <p><span>где <span>Кpih</span> – коэффициент величины использования i-<span>го</span> вида ресурса озер, <span>Pil</span> – запасы i-<span>го</span> вида ресурса в озерах, <span>Pih</span> – величина использованного i-<span>го</span> вида ресурса в озерах.</span> </p>
            <p><span>Для оценки величины использования ПРП озер применялся метод сравнения величины использования ресурсов озер в озерной геосистеме (районе) со среднерегиональным значением. Далее частному показателю присваивался индекс (I). Расчет индексов производился по формуле (1.7):</span> </p>
            <p>
                <span>
                    <img width="174" height="109" src="@Url.Content("~/Content/images/home/image010.png")" />
                </span>
            </p>
            <p><span>где Iih – индекс величины использования i-<span>го</span> ресурса, <span>Кpih</span> – коэффициент величины использования i-<span>го</span> вида ресурса озер, n – количество показателей (районов)</span> </p>
            <p><span>Расчет интегрального индекса (<span>Iph</span>) использования ресурсов производился по формуле (1.8):</span> </p>
            <p>
                <span>
                    <img width="160" height="73" src="@Url.Content("~/Content/images/home/image011.png")" />
                </span>
            </p>
            <p><span>где </span><span><i>I<sub>ph</sub> </i></span><span>– индекс величины использования ресурсов<i>, </i></span><span><i>I<sub>ih</sub> </i></span><span>– индекс величины использования </span><span>i</span> <span>-го ресурса<i>, </i></span><i>n</i> <span>– количество показателей (ресурсов).</span> </p>
            <p><span>Комплексность использования ПРП определялась количеством видов деятельности, в которых используются ресурсы озер.</span> </p>
            <p><span>В целях оптимизации использования ПРП озер необходимо учитывать также и экологические ограничения, направленные на рациональное использование ресурсов и охрану озер от загрязнения, истощения и деградации. Для решения этой задачи предлагается выделить загрязненные и гипертрофные озера региона, утратившие экологический потенциал, как рекомендуемые для исключения из дальнейшей хозяйственной деятельности. А также провести детальную оценку экологического состояния озерных бассейнов на примере ключевых районов, характеризующихся наибольшим значением ресурсов озер в общем ПРП. </span></p>
            <p><span>Схема комплексной оценки экологического состояния системы «водосбор-озеро» состоит из двух блоков: оценки экологического состояния озера и антропогенной трансформации водосбора, см. рисунок 1.3. Выбор показателей оценки<span>  </span>дифференцирован в зависимости от изучаемого компонента геосистем и отражен в таблице 1.2.</span> <span>Исследования озера включают: гидрохимическую (показатели водной массы), геохимическую (характер донных отложений) и гидробиологическую (биологические показатели) оценку. Оценка антропогенной трансформации водосбора отражает степень антропогенной преобразованности водосборной территории. </span></p>
            <p><span>Для оценки экологического состояния системы «водосбор-озеро» применялся метод сравнения величины воздействия с существующими нормативами качества окружающей среды. Далее частному показателю присваивался балл (<i>В</i>) от 1 до 5, согласно попаданию его в определенный класс принятой классификации, отраженной в таблице 1.3. Расчет интегральных показателей (</span> <span><span>Ip</span> </span><span lang="BE">ЭОО,</span> <span lang="BE"></span><span><span>Ip</span> </span><span lang="BE">ЭОВ)</span> <span>производился по формуле (1.9):</span> </p>
            <p>
                <span>
                    <img width="185" height="43" src="@Url.Content("~/Content/images/home/image012.png")" />
                </span>
            </p>
            <p><span>где <i>В<sub>1</sub>, …, В</i> </span><span><i><sub><span>i</span> </sub></i></span><span>– значения присвоенных баллов по каждому из показателей; </span><span><i><span>i</span> </i></span><span>– количество показателей.</span> </p>

            <p>
                <span>
                    <img width="624" height="591" src="@Url.Content("~/Content/images/home/image013.png")" />
                </span>
            </p>
            <p><b><span>Рисунок 1.3 - Схема комплексной оценки экологического состояния</span> </b></p>
            <p><b><span>системы «водосбор - озеро»</span> </b></p>

            <p><span>Таблица 1.2 - Показатели комплексной оценки экологического состояния системы «водосбор-озеро»</span> </p>

            <table class="table table-bordered table-condensed">
                <tr>
                    <td>
                        <p><span>И</span> <span lang="BE">нтегральные</span> <span>показатели</span> </p>
                    </td>
                    <td>
                        <p><span>Базовые индикаторы</span> </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span><span>Ip</span> </span><span lang="BE">ЭОО</span> </p>
                    </td>
                    <td>
                        <p><span>1. гидрохимическая оценка</span> </p>
                        <p><span>1.1. ИТОВ – индекс степени антропогенной трансформации озерных вод </span></p>
                        <p><span>1.2. ИЗВ – индекс загрязнения воды: сумма коэффициентов концентрации (отношений содержания химического соединения в воде к его ПДК)</span> </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span>2. геохимическая оценка</span> </p>
                        <p><span>2.1. </span><span><span>Z<sub>c</sub> </span></span><span>–индекс содержания тяжелых металлов в донных отложениях </span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span>3. гидробиологическая оценка</span> </p>
                        <p><span>3.1. </span><span>S</span> <span>– индекс сапробности Пантле-Букка в модификации Сладечека</span> </p>
                        <p><span>3.2. </span><span><span>I<sub>pm</sub> </span></span><span>– индекс содержания тяжелых металлов в растениях: суммарное отношение величины коэффициентов концентрации элементов к числу элементов </span></p>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <p><span><span>Ip</span> </span><span lang="BE">ЭОВ</span> </p>
                    </td>
                    <td>
                        <p><span lang="BE">4. оценка антропогенной трансфомации водосбора</span> </p>
                        <p><span>4.1. И<sub>АТ</sub> – индекс антропогенной трансформации территории</span> </p>
                    </td>
                </tr>
            </table>

            <p><span>Таблица 1.3 - Перевод фактических значений в нормированные баллы</span> </p>

            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <td>
                        <p><span>Показатель</span> </p>
                    </td>
                    <td>
                        <p><span>В=1</span> </p>
                    </td>
                    <td>
                        <p><span>В=2</span> </p>
                    </td>
                    <td>
                        <p><span>В=3</span> </p>
                    </td>
                    <td>
                        <p><span>В=4</span> </p>
                    </td>
                    <td>
                        <p><span>В=5</span> </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span>ИТОВ</span> </p>
                    </td>
                    <td>
                        <p><span>0-20</span> </p>
                    </td>
                    <td>
                        <p><span>21-40</span> </p>
                    </td>
                    <td>
                        <p><span>41-60</span> </p>
                    </td>
                    <td>
                        <p><span>61-80</span> </p>
                    </td>
                    <td>
                        <p><span>81-100</span> </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span>ИЗВ<sub> </sub></span></p>
                    </td>
                    <td>
                        <p><span>менее 0,1</span> </p>
                    </td>
                    <td>
                        <p><span>0,1-1</span> </p>
                    </td>
                    <td>
                        <p><span>1,01-2</span> </p>
                    </td>
                    <td>
                        <p><span>2,01-3</span> </p>
                    </td>
                    <td>
                        <p><span>более 3</span> </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span><span>Z<sub>c</sub> </span></span></p>
                    </td>
                    <td>
                        <p><span>менее 10</span> </p>
                    </td>
                    <td>
                        <p><span>10-20</span> </p>
                    </td>
                    <td>
                        <p><span>21-30</span> </p>
                    </td>
                    <td>
                        <p><span>31-70</span> </p>
                    </td>
                    <td>
                        <p><span>71-100</span> </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span>S</span> </p>
                    </td>
                    <td>
                        <p><span>менее 1</span> </p>
                    </td>
                    <td>
                        <p><span>1-1,5</span> </p>
                    </td>
                    <td>
                        <p><span>1,51-3,5</span> </p>
                    </td>
                    <td>
                        <p><span>3,51-4</span> </p>
                    </td>
                    <td>
                        <p><span>более 4</span> </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span><span>I<sub>pm</sub> </span></span></p>
                    </td>
                    <td>
                        <p><span>менее 0,1</span> </p>
                    </td>
                    <td>
                        <p><span>0,1-1</span> </p>
                    </td>
                    <td>
                        <p><span>1,01-2</span> </p>
                    </td>
                    <td>
                        <p><span>2,01-3</span> </p>
                    </td>
                    <td>
                        <p><span>более 3</span> </p>
                    </td>
                </tr>
            </table>

            <p><span>Показатели качества воды определялись с использованием гигиенических нормативов. Обобщающий показатель – индекс загрязнения воды (<i>ИЗВ</i>) [4]:</span> </p>
            <p>
                <span>
                    <img width="170" height="72" src="@Url.Content("~/Content/images/home/image014.png")">
                </span>
            </p>
            <p><span>где <i>ИЗВ</i> – индекс загрязнения воды; </span></p>
            <p><i><span>С</span> </i><span><i><sub><span>i</span> </sub></i></span><span>– концентрация</span><span><i><span>i</span> </i></span><i><span>-</span> </i><span>го вещества; </span></p>
            <p><i><span>С<sub>ПДК </sub></span></i><span>– предельно допустимая концентрация; </span></p>
            <p><i><span>n</span> </i><span>– <span>число</span> учтенных ингредиентов.</span> </p>
            <p><span>Индекс антропогенной трансформации озерных вод (ИТОВ) [6] применялся для оценки степени антропогенной трансформации гидрохимических параметров озер и рассчитывался по формуле:</span> </p>

            <p>
                <span>
                    <img width="187" height="65" src="@Url.Content("~/Content/images/home/image015.png")">
                </span>
            </p>
            <p><span>где <i>ИТОВ</i> – индекс степени антропогенной трансформации озерных вод; </span></p>
            <p><span><i><span>q<sub>i</sub> </span></i></span><span>– нормированное значение</span><span><i><span>i</span> </i></span><i><span>-</span> </i><span>го гидрохимическогопоказателя; </span></p>
            <p><i><span>n</span> </i><span>– <span>число</span> исследуемых показателей.</span> </p>
            <p><span>Оценка уровня химического загрязнения донных отложений проводилась относительно фоновых показателей, полученных при сопряженных геохимических исследованиях донных осадков озер Беларуси. Поскольку часто донные отложения загрязнены сразу несколькими элементами, то для них рассчитывают суммарный показатель загрязнения [5], отражающий степень загрязнения целой ассоциацией элементов относительно фона:</span> </p>
            <p>
                <span>
                    <img width="196" height="44" src="@Url.Content("~/Content/images/home/image016.png")">
                </span>
            </p>
            <p><span>где </span><span><i><span>Z<sub>c</sub> </span></i></span><span>– суммарный показатель загрязнения; </span></p>
            <p><i><span>К<sub>с </sub></span></i><span>– коэффициенты техногенной концентрации со значением более 1,0; </span></p>
            <p><i><span>n</span> </i><span>– <span>число</span> элементов с <i>К<sub>с<span>  </span></sub></i>более 1,0.</span> </p>
            <p><span>Оценка состояния водных экосистем по гидробиологическим показателям проводится с помощью методов биоиндикации, основанных на изучении структуры гидробиоценозов и их отдельных компонентов. Для этого рассчитывается индекс сапробности. </span><span>В санитарной гидробиологии под сапробностью понимают способность организмов жить при большом содержании органических веществ в среде. Сапробность является функцией как потребностей организма в органическом питании, так и устойчивости возникающих при разложении органических соединений ядовитых веществ: H<sub>2</sub>S, CO<sub>2</sub>, NH<sub>3</sub>, H<sup>+</sup>, органических кислот. Термин “сапробность” в последнее время употребляют, когда говорят о степени общего загрязнения вод. </span></p>
            <p><span>В работе для оценки сапробности воды применялся метод индикаторных организмов Пантле и Букка в модификации Сладечека. Формула для вычисления индекса сапробности (</span> <i><span>S</span> </i><span>):</span> </p>
            <p>
                <span>
                    <img width="137" height="67" src="@Url.Content("~/Content/images/home/image017.png")">
                </span>
            </p>
            <p><span>где <i>h</i> - относительная частота встречаемости (обилие) гидробионтов; </span></p>
            <p><i><span>s</span> </i><span>- их индикаторная значимость (сапробная валентность).</span> </p>
            <p><span>Для оценки загрязнения водных растений в озерах использован коэффициент концентрации (накопления) (</span> <span><i><span>Kc</span> </i></span><span>) [2], который служит мерой аномальности содержания элемента в водных растениях и донных осадках относительно фона:</span> </p>
            <p>
                <span>
                    <img width="108" height="39" src="@Url.Content("~/Content/images/home/image018.png")">
                </span>
            </p>
            <p><span>где </span><i><span>Ki</span> </i><span>– содержание i-того элемента в пробе, г/т; </span><span><i><span>Kf</span> </i></span><span>- среднее содержание того же элемента в фоновой выборке для озер Беларуси.</span></p>
            <p><span>Для интегральной оценки степени загрязнения озер рассчитан индекс содержания тяжелых металлов в растениях (<span> <i>I<sub>pm</sub> </i></span>) [2], который представляет собой суммарное отношение величины коэффициентов концентрации (накопления) элементов (</span> <span><i><span>Kc</span> </i></span><i><span>)</span> </i><span>к числу элементов, и рассчитывается по формуле:</span> </p>
            <p>
                <span>
                    <img width="300" height="69" src="@Url.Content("~/Content/images/home/image019.png")">
                </span>
            </p>
            <p><span>где </span><i><span>K</span> </i><i><sub><span>1, 2,..i</span> </sub></i><span>– содержание элемента (Ni, Cu, Pb, Zn, Ti, Cr, V, Mn); </span></p>
            <p><i><span>K</span> </i><i><span><sub><span>1</span> </sub></span></i><i><sub><span>f</span> </sub></i><i><sub><span>, <span>2<span lang="EN-US">f</span>,..</span>i</span> </sub></i><i><sub><span>f</span> </sub></i><span>– фоновая величина для соответствующего элемента; </span></p>
            <p><i><span>n</span> </i><span>– <span>число</span> показателей, используемых для расчета. </span></p>
            <p><span>При оценке экологического состояния озера все показатели рассматриваются как равнозначные, а нормированные баллы по каждому блоку суммируются, после – ранжируются по разработанной шкале таблицы 1.5. </span></p>

            <p><span>Таблица 1.5 - Шкала оценки экологического состояния озера</span> </p>

            <table class="table table-bordered table-condensed">
                <tr>
                    <td>
                        <p><span>Баллы</span> </p>
                    </td>
                    <td>
                        <p><span>Состояние озера</span> </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span>1,0-2,0</span> </p>
                    </td>
                    <td>
                        <p><span>Благоприятное</span> </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span>2,01-3,0</span> </p>
                    </td>
                    <td>
                        <p><span>Относительно благоприятное</span> </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span>3,01-4,0</span> </p>
                    </td>
                    <td>
                        <p><span>Относительно неблагоприятное</span> </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span>&#8805; 4,01</span> </p>
                    </td>
                    <td>
                        <p><span>Неблагоприятное</span> </p>
                    </td>
                </tr>
            </table>

            <p><span>Для оценки антропогенной трансформации водосборов использована методика оценки<span>  </span>антропогенной трансформации ландшафтов (АТЛ), предложенная коллективом авторов во главе с Г.И. Марцинкевич [<span>   </span>], которыми выполнено<span>  </span>экологическое ранжирование земель по степени антропогенного воздействия с присвоением соответствующих весовых коэффициентов (таблица 1.6) и определены средневзвешенные баллы АТЛ каждого ландшафтного контура, методические приемы расчета которых описаны в [<span>  </span>]. Затем с помощью пятиуровневой шкалы (таблица 1.7) осуществлена группировка контуров по степени антропогенной трансформации.</span> </p>
            <p></p>


            <p><span>Таблица 1.6 - Экологическое ранжирование земель по степени антропогенного воздействия</span> </p>
            mso-border-left-alt: solid windowtext .5pt

            <table class="table table-bordered table-condensed">
                <tr>
                    <td>
                        <p><span>Степень антропогенного воздействия</span> </p>
                    </td>
                    <td>
                        <p><span>Значения весового<span>  </span>коэффициента</span> </p>
                    </td>
                    <td>
                        <p><span>Группы земель</span> </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span>Очень высокая</span> </p>
                    </td>
                    <td>
                        <p><span>5</span> </p>
                    </td>
                    <td>
                        <p><span>Населенных пунктов,<span>  </span>транспорта</span> </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span>Высокая</span> </p>
                    </td>
                    <td>
                        <p><span>4</span> </p>
                    </td>
                    <td>
                        <p><span>Мелиоративных объектов</span> </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span>Средняя</span> </p>
                    </td>
                    <td>
                        <p><span>3</span> </p>
                    </td>
                    <td>
                        <p><span>Сельскохозяйственных угодий</span> </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span>Низкая</span> </p>
                    </td>
                    <td>
                        <p><span>2</span> </p>
                    </td>
                    <td>
                        <p><span>Лесопокрытых земель, аквальных комплексов </span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span>Очень низкая</span> </p>
                    </td>
                    <td>
                        <p><span>1</span> </p>
                    </td>
                    <td>
                        <p><span>Болот</span> </p>
                    </td>
                </tr>
            </table>

            <p><span>Таблица 1.7 - Шкала оценки антропогенной трансформации ландшафтов </span></p>

            <table class="table table-bordered table-condensed">
                <tr>
                    <td>
                        <p><span>Показатель</span> </p>
                    </td>
                    <td>
                        <p><span>Градации степени АТЛ</span> </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span>минимальная</span> </p>
                    </td>
                    <td>
                        <p><span>низкая</span> </p>
                    </td>
                    <td>
                        <p><span>средняя</span> </p>
                    </td>
                    <td>
                        <p><span>высокая</span> </p>
                    </td>
                    <td>
                        <p><span>максимальная</span> </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><span>Степень АТЛ</span> </p>
                    </td>
                    <td>
                        <p><span>1,0-1,5</span> </p>
                    </td>
                    <td>
                        <p><span>1,6-2,0</span> </p>
                    </td>
                    <td>
                        <p><span>2,1-2,5</span> </p>
                    </td>
                    <td>
                        <p><span>2,6-3,0</span> </p>
                    </td>
                    <td>
                        <p><span>3,1-3,6</span> </p>
                    </td>
                </tr>
            </table>

            <p><span>Данным градациям в работе соответствуют следующие характеристики состояния водосбора: минимальная и низкая – благоприятное, средняя – относительно благоприятное, высокая – относительно неблагоприятное, максимальная – неблагоприятное.</span> </p>
            <p><span>На заключительном этапе для проведения комплексной оценки экологического состояния системы строится соответствующая матрица, см. рисунок 1.4, которая определяет степень сбалансированности состояния системы «водосбор - озеро». </span></p>
            <p><span>Сочетание блоков оценки позволяет выделить четыре класса<span>  </span>сбалансированности состояния системы «водосбор - озеро»: </span></p>
            <p><span>1 – несбалансированное критическое; </span></p>
            <p><span>2 – несбалансированное приемлемое; </span></p>
            <p><span>3 – сбалансированное относительно устойчивое; </span></p>
            <p><span>4 – сбалансированное устойчивое. </span></p>
            <p><span>Данным классам соответствуют следующие характеристики:<span>   </span></span></p>
            <p><span>1) оценка неблагоприятный по двум блокам, неблагоприятный – относительно неблагоприятный; </span></p>
            <p><span>2) относительно неблагоприятный по двум блокам, неблагоприятный – относительно благоприятный, неблагоприятный – благоприятный; </span></p>
            <p><span>3) относительно благоприятный по двум блокам, благоприятный – относительно неблагоприятный; относительно благоприятный – относительно неблагоприятный; </span></p>
            <p><span>4) благоприятный по двум блокам, благоприятный – относительно благоприятный.<span>   </span></span></p>
            <p>
                <span>
                    <img width="420" height="423" src="@Url.Content("~/Content/images/home/image020.png")">
                </span>
            </p>
            <p><b><span>Рисунок 1.4 - Комплексная оценка экологического состояния системы «водосбор - озеро»</span> </b></p>
            <p><b><span></span></b></p>
            <p><i><span>Этап создания информационной базы</span> </i><span>заключается в определении структуры информационной системы, сборе и первичной обработке тематических данных по каждому из частных потенциалов для озер и для прилегающих территорий административного района. Информационная база включает статистические данные и картографический материал, характеризующие структуру и запасы ресурсов в разрезе озер и прилегающих территорий административных районов. </span></p>
            <p><span>Важной составляющей геоэкологических исследований является характеристика современного экологического состояния озер и их водосборов. При сборе этой информации привлекаются фондовые материалы НИЛ озероведения, данные кадастровых оценок, фондовые материалы районных инспекций природных ресурсов и охраны окружающей среды и местных исполнительных органов власти, при необходимости проводятся натурные наблюдения на модельных (ключевых) озерах. Для выполнения программы геоэкологической оценки была собрана информация о фактических показателях использования ресурсов озер по основным видам хозяйственной деятельности в разрезе административных районов за 2007-2011 годы. Такие данные характеризуют промышленно-производственное, хозяйственно-бытовое, сельскохозяйственное, рыбохозяйственное, рекреационное и лечебно-оздоровительное, природоохранное направления деятельности, а также деятельность, связанную с добычей и заготовкой ресурсов озер, в частности сапропелей, макрофитов, зообентоса.</span> </p>
            <p><i><span>Этап анализа и геоэкологической оценки</span> </i><span>природно-ресурсного потенциала озер и прилегающих территорий включает оценку величины отдельных видов природных ресурсов и, затем, комплексного природно-ресурсного потенциала с учетом их запасов. На основе выполненных расчетов проводится пространственно-временной анализ уровня реализации ПРП озер в границах озерной геосистемы. Направления оптимизации использования ПРП определяются исходя из его величины и сбалансированности ресурсов (значимости ресурсов озер в ПРП озерной геосистемы), комплексности и возможностей альтернативного использования ресурсов. Выделяются озера, перспективные для различных видов использования, а также рекомендуемые для исключения из хозяйственной деятельности, как утратившие экологический потенциал в результате их загрязнения, деградации, истощения.<span>  </span></span></p>
            <p>Природно-ресурсный потенциал должен быть рассмотрен как базис функционирования и выполнения экологических функций природных геосистем. Для этого на локальном уровне (на примере выделенных ключевых районов) проводится комплексная оценка экологического состояния озер и территорий их водосборов согласно разработанной методике. </p>
            <br/><br />
            <p>Полное описание методологии можно найти <a href="http://elib.bsu.by/handle/123456789/47846">здесь</a>.</p>
        </div>
    </div>
</div>