<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@("Aura - " + ViewBag.Title)</title>
    @Styles.Render("~/Content/less/styles.css")
</head>
<body>
    <div id="menu-view" class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse collapse">
                    <ul class="nav" id="menu-ul">
                        <li tabid="1">
                            <a class="brand" href="@Url.Action("Index", "Home")">
                                <img src="@Url.Content("~/Content/images/brand.png")" alt="Aura" title="Главная страница" />
                            </a>
                        </li>
                        <li class="dropdown" tabid="2">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Запасы природных ресурсов<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li subtabid="1"><a href="@Url.Action("Mineral", "Stocks")">Минеральные ресурсы</a></li>
                                <li subtabid="2"><a href="@Url.Action("Water", "Stocks")">Водные ресурсы</a></li>
                                <li subtabid="3"><a href="@Url.Action("Territorial", "Stocks")">Территориальные ресурсы</a></li>
                                <li subtabid="4"><a href="@Url.Action("Biological", "Stocks")">Ресурсы растительного мира</a></li>
                                <li subtabid="5"><a href="@Url.Action("Animal", "Stocks")">Ресурсы животного мира</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" tabid="3">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Использование ресурсов озер<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li subtabid="1"><a href="@Url.Action("Mineral", "Use")">Минеральные ресурсы</a></li>
                                <li subtabid="2"><a href="@Url.Action("Water", "Use")">Водные ресурсы</a></li>
                                <li subtabid="3"><a href="@Url.Action("Territorial", "Use")">Территориальные ресурсы</a></li>
                                <li subtabid="4"><a href="@Url.Action("Biological", "Use")">Ресурсы растительного мира</a></li>
                                <li subtabid="5"><a href="@Url.Action("Animal", "Use")">Ресурсы животного мира</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" tabid="4">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Итог<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li subtabid="1"><a href="@Url.Action("Mineral", "Result")">Минеральные ресурсы</a></li>
                                <li subtabid="2"><a href="@Url.Action("Water", "Result")">Водные ресурсы</a></li>
                                <li subtabid="3"><a href="@Url.Action("Territorial", "Result")">Территориальные ресурсы</a></li>
                                <li subtabid="4"><a href="@Url.Action("Biological", "Result")">Ресурсы растительного мира</a></li>
                                <li subtabid="5"><a href="@Url.Action("Animal", "Result")">Ресурсы животного мира</a></li>
                            </ul>
                        </li>
                        @*
                            <li class="dropdown" tabid="5">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Интегральная таблица<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li subtabid="1"><a href="@Url.Action("Mineral", "Integrated")">Балансовые запасы минеральных ресурсов</a></li>
                                    <li subtabid="2"><a href="@Url.Action("Water", "Integrated")">Водные ресурсы</a></li>
                                    <li subtabid="3"><a href="@Url.Action("Territorial", "Integrated")">Территориальные ресурсы</a></li>
                                    <li subtabid="4"><a href="@Url.Action("Biological", "Integrated")">Ресурсы растительного мира</a></li>
                                    <li subtabid="5"><a href="@Url.Action("Animal", "Integrated")">Животного мира</a></li>
                                </ul>
                            </li>
                        *@
                        <li class="dropdown" tabid="7">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Экологическое состояние озёр<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li subtabid="1"><a href="@Url.Action("HydrochemicalAssessment", "Ecological")">Гидрохимическая оценка</a></li>
                                <li subtabid="2"><a href="@Url.Action("GeochemicalAssessment", "Ecological")">Геохимическая оценка</a></li>
                                <li subtabid="3"><a href="@Url.Action("HydrobiologicalAssessment", "Ecological")">Гидробиологическая оценка</a></li>
                                <li subtabid="4"><a href="@Url.Action("ReservoirTransformation", "Ecological")">Трансформация водосбора</a></li>
                            </ul>
                        <li tabid="6">
                            <a href="@Url.Action("Index", "Regions")">Районы</a>
                        </li>
                        <li class="dropdown" tabid="8">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Справка<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li subtabid="1"><a href="@Url.Action("Metodology", "Home")">Методика расчета</a></li>
                                <li subtabid="2"><a href="@Url.Content("~/Content/files/manual.docx")">Руководство пользователя</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid content">
        <div class="row-fluid">
            <div class="span12" id="content">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="text-center">
        Aura&nbsp;@("v" + typeof(HomeController).Assembly.GetName().Version)&nbsp;&copy;&nbsp;@DateTime.Now.Year
    </footer>

    @Scripts.Render("~/Scripts/scripts.js")
    <script type="text/javascript">
        window.menuView = new MenuView({ tabId: '@ViewBag.TabId', subTabId: '@ViewBag.SubTabId' });
        $('body>center').addClass('visible-desktop');
    </script>

    @RenderSection("scripts", false)
</body>
</html>
