@model BiologicalViewModel

@{
    ViewBag.TabId = 2;
    ViewBag.SubTabId = 4;
    ViewBag.Title = "Запасы - Ресурсы растительного мира";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="table-view">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="text-center">
                <th>Район</th>
                <th>Общий запас древесины,<br />
                    тыс. м куб</th>
                <th>Эксплуатационный запас лекарственных растений,<br />
                    т</th>
                <th>Эксплуатационный запас пищевых растений,<br />
                    т</th>
                <th>Эксплуатационный запас грибов,<br />
                    т</th>
                <th>Сезонная биомасса фитопланктона,<br />
                    т</th>
                <th>Промысловый запас макрофитов,<br />
                    т</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr rowid="@item.RegionId">
                    <td>@item.RegionName</td>
                    <td colid="@((int)BiologicalColumns.Drevesina)">@item.Drevesina</td>
                    <td colid="@((int)BiologicalColumns.Lekarstvennye)">@item.Lekarstvennye</td>
                    <td colid="@((int)BiologicalColumns.Pishcevye)">@item.Pishcevye</td>
                    <td colid="@((int)BiologicalColumns.Griby)">@item.Griby</td>
                    <td colid="@((int)BiologicalColumns.Fitoplankton)">@item.Fitoplankton</td>
                    <td colid="@((int)BiologicalColumns.Makrofity)">@item.Makrofity</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script type="text/javascript">
        window.tableView = new TableView({ tableId: '@((int)Tables.Biological)', url: '@Url.Action("Update", "Stocks")' });
    </script>
}
