@model MineralViewModel

@{
    ViewBag.TabId = 2;
    ViewBag.SubTabId = 1;
    ViewBag.Title = "Запасы - Балансовые запасы минеральных ресурсов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="table-view">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="text-center">
                <th>Район</th>
                <th>Балансовые запасы доломита,<br />
                    тыс. т</th>
                <th>Балансовые запасы глинистых пород,<br />
                    тыс. т</th>
                <th>Балансовые запасы песка,<br />
                    тыс. т</th>
                <th>Балансовые запасы торфа,<br />
                    тыс. т</th>
                <th>Балансовые запасы песчано-гравийно-валунного материала,<br />
                    тыс. м куб</th>
                <th>Разведанные запасы сапропелей,<br />
                    тыс. м куб</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr rowid="@item.RegionId">
                    <td>@item.RegionName</td>
                    <td colid="@((int)MineralsColumns.Dolomity)">@item.Dolomity</td>
                    <td colid="@((int)MineralsColumns.Glinistye)">@item.Glinistye</td>
                    <td colid="@((int)MineralsColumns.Peski)">@item.Peski</td>
                    <td colid="@((int)MineralsColumns.Torf)">@item.Torf</td>
                    <td colid="@((int)MineralsColumns.GravinoPeschanye)">@item.GravinoPeschanye</td>
                    <td colid="@((int)MineralsColumns.Sapropel)">@item.Sapropel</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script type="text/javascript">
        window.tableView = new TableView({ tableId: '@((int)Tables.Minerals)', url: '@Url.Action("Update", "Stocks")' });
    </script>
}
