@model RegionsModel

@{
    ViewBag.TabId = 6;
    ViewBag.Title = "Регионы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="regions-view">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="width: 450px;">Район</th>
                <th style="width: 50px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var region in Model.Regons)
            {
                <tr row-id="@region.Id">
                    <td>
                        <span class="region-name">@region.Name</span>
                        <input type="text" class="region-name" value="@region.Name" />
                    </td>
                    <td>
                        <i class="icon-edit edit-region" title="Редактировать"></i>
                        <i class="icon-trash delete-region" title="Удалить"></i>
                        <i class="icon-ok save-region" title="Сохранить"></i>
                        <i class="icon-remove cancel-save-region" title="Отменить"></i>
                    </td>
                </tr>
            }
            <tr row-id="null">
                <td>
                    <input type="text" class="new-region-name" />
                </td>
                <td>
                    <i class="icon-ok add-region" title="Сохранить"></i>
                    <i class="icon-remove cancel-add-region" title="Отменить"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success add-region">Добавить район</button>
</div>

@section scripts
{
    <script type="text/javascript">
        window.regionsView = new RegionsView({
            addUrl: '@Url.Action("Add", "Regions")',
            updateUrl: '@Url.Action("Update", "Regions")',
            deleteUrl: '@Url.Action("Delete", "Regions")'
        });
    </script>
}