@model WaterViewModel

@{
    ViewBag.TabId = 3;
    ViewBag.SubTabId = 2;
    ViewBag.Title = "Использование - Водные ресурсы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="overflow-x: auto">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="text-center">
                <th>Район</th>
                <th>Объём воды в озёрах, млн. м куб</th>
                <th>Воды изъято, тыс. м куб</th>
                <th>Воды использовано всего, тыс. м куб</th>
                <th>Хозяйственно-бытовое водопотребление, тыс. м куб</th>
                <th>Промышленное водопотребление, тыс. м куб</th>
                <th>Cельскохозяйственное водопотребление, тыс. м куб</th>
                <th>Рыбохозяйственное водопотребление, тыс. м куб</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr rowid="@item.RegionId">
                    <td>@item.RegionName</td>
                    <td colid="@((int)WaterColumns.ObemVody)" alter-update-action="@Url.Action("Update", "Stocks")">@item.ObemVody</td>
                    <td colid="@((int)WaterColumns.VodyIzato)">@item.VodyIzato</td>
                    <td colid="@((int)WaterColumns.VodyIspolzovano)">@item.VodyIspolzovano</td>
                    <td colid="@((int)WaterColumns.HbPotreblenie)">@item.HbPotreblenie</td>
                    <td colid="@((int)WaterColumns.PPotreblenie)">@item.PPotreblenie</td>
                    <td colid="@((int)WaterColumns.ShPotreblenie)">@item.ShPotreblenie</td>
                    <td colid="@((int)WaterColumns.RhPotreblenie)">@item.RhPotreblenie</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts
{
    <script type="text/javascript">initItemUpdate($, '@((int)Tables.Water)', '@Url.Action("Update", "Use")');</script>
}
