@using Aura.Web.Common
@using Aura.Web.Models

@model WaterViewModel

@{
    ViewBag.TabId = 3;
    ViewBag.SubTabId = 2;
    ViewBag.Title = "Использование - Водные ресурсы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr class="text-center">
            <th>Район</th>
            <th>Объём речного стока,<br />млн. л</th>
            <th>Балансовые запасы пресных подземных вод,<br />тыс. м куб/сут</th>
            <th>Объём воды в озёрах,<br />млн. м куб</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr rowid="@item.RegionId">
                <td>@item.RegionName</td>
                <td colid="@((int)WaterColumns.RechnoiStok)">@item.RechnoiStok</td>
                <td colid="@((int)WaterColumns.PodzemnyeVody)">@item.PodzemnyeVody</td>
                <td colid="@((int)WaterColumns.ObemVody)">@item.ObemVody</td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script type="text/javascript">initItemUpdate($, '@((int)Tables.Water)', '@Url.Action("Update", "Use")');</script>
}
